
:where(.css-dev-only-do-not-override-17a39f8).ant-tooltip .ant-tooltip-inner{
    color: #0167B3;
    background-color: white;
}
:where(.css-dev-only-do-not-override-17a39f8).ant-tooltip{
    --antd-arrow-background-color: white;
}

.ant-tooltip-content{
    color: white;
}
.ant-slider-dot{
    display: none;
}

.wrapper{
    background-color: rgba(255, 255, 255, 0.10);
}